
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

<div>
	<div>Телефон: 8-959-959-95-95</div>
	<div>Почта: test@test.test</div>
	<div>twitch: twitchisdeadbaby</div>
	<div>gg: zergtv</div>
</div>